/**
 * Calendar Label
 **/
[data-key="chess-heatmap"] .ch-plugin-calendar-label-bg {
    fill: black !important;
}

[data-key="chess-heatmap"] .ch-plugin-calendar-label-text {
    fill: white !important;
}

.heatmap, .logInfo {
    flex: 1;
}

.logInfo {}